
#background {
	z-index: -1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('https://source.unsplash.com/random/1920x1080');
	opacity: 0;
	transition: opacity 1s ease-out;
}

#background.show {
	opacity: 1;
}

#weather {
	padding: 20px;
	border-radius: 8px;
	background-color: rgba(184,184,184,0.7);
	position: fixed;
	bottom: 25px;
	right: 25px;
	text-align: center;
	font-family: 'Acme', sans-serif;	
	font-size: 1em;
	
}

#temperature {
	font-size: 3em;
}

.center {
	top: 50%;
	width: 100%;
	position: absolute;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	left: 50%;
	background-color: rgba(184,184,184,0.7);
	padding: 20px 0;
}

#clock h1 {
	font-size: 6em;
	margin-bottom: 10px;
	margin-top: 0;
}

#search input {
	padding: 2px 5px;
	border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid rgba(245, 245, 245, 0.7);
  color: black;
}